.searchBar {
  display: flex;
  flex-direction: column;
  position: fixed;
  width: 100%;
  z-index: 1000;
  justify-content: center;
  align-items: center;
  height: 60px;
  background-color: #6488ea;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.searchField {
  background-color: white;
  color: black;
  border: none;
  height: 40px;
  width: 50%;
  padding-left: 38px;
}

.form {
  display: flex;
  justify-content: center;
  width: 100%;
}

.submitBtn {
  position: relative;
  padding: 10px;
  color: black;
  left: 38px;
  background-color: transparent;
}
.submitBtn:hover {
  border-color: transparent;
}

@media screen and (min-width: 768px) and (max-width: 1439.98px) {
  .submitBtn {
    padding: 10px 15px;
    left: 48px;
  }
  .searchField {
    padding-left: 48px;
  }
}

@media screen and (min-width: 1440px) {
  .submitBtn {
    padding: 10px 15px;
    left: 48px;
  }
  .searchField {
    padding-left: 48px;
  }
}
